<%- include('head'); %>

    <body class="">
        <span class="preheader">
            <h2><i class="fad fa-users-class"></i>Virtual Classroom</h2>
        </span>
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
            <tr>
                <td>&nbsp;</td>
                <td class="container">
                    <div class="content">
                        <table role="presentation" class="main">
                            <tr>
                                <td class="wrapper">
                                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <p>Hi <b>
                                                        <%=firstName%>
                                                    </b>,</p>
                                                <p>Welcome to Virtual Classroom, we're glad to have you. A New Assignment is created please click on following link</p>
                                                <table role="presentation" border="0" cellpadding="0" cellspacing="0"
                                                    class="btn btn-primary">
                                                    <tbody>
                                                        <tr>
                                                            <td align="left">
                                                                <table role="presentation" border="0" cellpadding="0"
                                                                    cellspacing="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td> <a href='<%=url%>'
                                                                                    target="_blank">click to view Assignment</a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <p> If you need any help, please don't hesitate to contact us! we will
                                                    respond you as early as
                                                    possible.</p>
                                                <p>Thank You</p>
                                                <p>The Virtual Classroom Team.</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <%- include('footer'); %>
                    </div>
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </body>

    </html>